@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.wrapper{
     width: 1200px;
    margin: 0 auto;
}
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #EFF0F3;
}
/*................header...................*/

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);

}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;

}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
header nav ul a{
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}
.header_button{
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    border: none;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
header .logo{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
span{
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*.................section....................*/

.subscribe_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 164px;
    padding-bottom: 263px;



}
.subscribe_content h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.subscribe_content p{
    color: #9A9494;
    width: 652px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 30px 0;
}
.subscribe_form{
    display: flex;
    gap: 20px;

}

.subscribe_form input {
    height: 67px;
    display: flex;
    width: 444px;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
}
input::placeholder{
    color: #C0C0C0;

}
.subscribe_content button{
    display: flex;
    height: 67px;
    width: 145px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFFFFE;
    font-size: 20px;
    border-radius: 8px;
    background: #6246EA;
    border: none;
}
.img_background{
    background: #EFF0F3;
    display: flex;
    width: 470px;
    padding: 13px 18px 11px 18px;
    justify-content: center;
    align-items: center;

}
/*.................section categories...............................*/

.categories{
    padding-top: 67px;
    height: 500px;
}
.categories_header{
    display: flex;
    justify-content: space-between;
}
.categories_header h2{
    color:  #2B2C34;
    font-size: 24px;
    line-height: normal;
    text-transform: capitalize;
}
.categories_header a{
    color:  #2B2C34;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;


}
.cards{
    display: flex;
    gap: 37px;
    padding-top: 50px;

}
.card:nth-child(3){
    background: #6246EA;
}
.card:nth-child(3) p{
    color:  #FFFFFE;
}

.icon_background{
    border-radius: 8px;
    background: #FFFFFE;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card p{
    color: #232323;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}